package ${package}.${appName}.dao;

import ${package}.${appName}.model.${className}Entity;
import org.marsplatform.core.common.dao.BaseDao;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Dao extends BaseDao<${className}Entity> {
	
}
